<!-- base.html -->
<!DOCTYPE html>
<html>
<head>
    <title>My App</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
<nav>
    <ul>
        <li class="{{ 'active' if request.path == '/' else '' }}"><a href="/">Home</a></li>
        <li class="{{ 'active' if request.path == '/api/v1/users' else '' }}"><a href="/api/v1/users">Get Users</a></li>
        <li class="{{ 'active' if request.path == '/create_user' else '' }}"><a href="/create_user">Create User</a></li>
    </ul>
</nav>







<div class="content">
    {% block content %}{% endblock %}
</div>
</body>
</html>
