{% extends 'base.html' %}

{% block content %}
<head>
    <style>
        body {
            overflow: hidden;
        }
    </style>
</head>
<div class="content" style="width: 75%;">
    <h1>Welcome to Flask API</h1>
    <p>Wraz z Adrianem jesteśmy ambasadorami w firmie Billennium, niedawno mieliśmy przyjemność być prezenterami na
        warsztatach! Odwiedziły nas Dzieciaki ze Szkoły Podstawowej nr 58 w Lublinie, przygotowaliśmy
        dla nich specjalny warsztat z podstaw programowania w Scratch'u.

        Nasi uczestnicy i uczestniczki poradzili sobie rewelacyjnie, nawet z najtrudniejszymi zadaniami, co było
        naprawdę fantastycznym dowodem na ich umiejętności 👏😍
    </p>
    <img src="https://scontent.fwaw3-2.fna.fbcdn.net/v/t39.30808-6/346647878_229350826468728_4374037710174742029_n.jpg?_nc_cat=111&ccb=1-7&_nc_sid=730e14&_nc_ohc=D730nOJurhoAX_RwDTX&_nc_ht=scontent.fwaw3-2.fna&oh=00_AfC7AwFAMh3WC4Yy93LhMowixOtbyl4zT4sI8V2lKkdsFQ&oe=64698376"
         alt="Adrian i Janek">
</div>

{% endblock %}

