{% extends 'base.html' %}

{% block content %}
<div class="content">
    <h1>Welcome to Flask API</h1>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam nec diam sed dolor faucibus tincidunt vel vitae
        enim. Quisque pretium, lacus id cursus consequat, ligula felis varius nisl, nec consequat tellus tellus nec
        nisi. Proin efficitur luctus lacinia. Sed et felis massa. Morbi eget neque enim.</p>
    <img src="https://scontent.fwaw3-2.fna.fbcdn.net/v/t39.30808-6/346647878_229350826468728_4374037710174742029_n.jpg?_nc_cat=111&ccb=1-7&_nc_sid=730e14&_nc_ohc=D730nOJurhoAX_RwDTX&_nc_ht=scontent.fwaw3-2.fna&oh=00_AfC7AwFAMh3WC4Yy93LhMowixOtbyl4zT4sI8V2lKkdsFQ&oe=64698376"
         alt="Adrian i Janek">
</div>

{% endblock %}

