{% extends 'base.html' %}

{% block content %}
<head>
    <style>
        body {
            overflow: hidden;
        }
    </style>
</head>
<div class="content" style="width: 75%;">
    <h1>Welcome to Flask API</h1>
    <p>Wraz z Adrianem jesteśmy ambasadorami w firmie Billennium, niedawno mieliśmy przyjemność być prezenterami na
        warsztatach! Odwiedziły nas Dzieciaki ze Szkoły Podstawowej nr 58 w Lublinie, przygotowaliśmy
        dla nich specjalny warsztat z podstaw programowania w Scratch'u.

        Nasi uczestnicy i uczestniczki poradzili sobie rewelacyjnie, nawet z najtrudniejszymi zadaniami, co było
        naprawdę fantastycznym dowodem na ich umiejętności 👏😍
    </p>
    <img src="./../static/pic.png"
         alt="Adrian i Janek">
</div>

{% endblock %}

